<html>
<head>
<title>fragment_profile.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
fragment_profile.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;ScrollView</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.fragments.Profile&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@color/black&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;RelativeLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/editTextTextPersonName5&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;5dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;5dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;69dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;@string/profile&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#F1EEEE&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;196dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;216dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;98dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@android:drawable/gallery_thumb&quot;</span>
            <span class="s1">tools:src</span><span class="s2">=&quot;@tools:sample/backgrounds/scenic&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView10&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;184dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;188dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;620dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@android:drawable/gallery_thumb&quot;</span>
            <span class="s1">tools:src</span><span class="s2">=&quot;@tools:sample/backgrounds/scenic&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView11&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;184dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;188dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;820dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@android:drawable/gallery_thumb&quot;</span>
            <span class="s1">tools:src</span><span class="s2">=&quot;@tools:sample/backgrounds/scenic&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;81dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;79dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;365dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@android:drawable/gallery_thumb&quot;</span>
            <span class="s1">android:clickable</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">tools:src</span><span class="s2">=&quot;@tools:sample/backgrounds/scenic&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView5&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;81dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;79dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;485dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@android:drawable/gallery_thumb&quot;</span>
            <span class="s1">tools:src</span><span class="s2">=&quot;@tools:sample/backgrounds/scenic&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView3&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;81dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;79dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;365dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@android:drawable/gallery_thumb&quot;</span>
            <span class="s1">tools:src</span><span class="s2">=&quot;@tools:sample/backgrounds/scenic&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView6&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;81dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;79dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;485dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@android:drawable/gallery_thumb&quot;</span>
            <span class="s1">tools:src</span><span class="s2">=&quot;@tools:sample/backgrounds/scenic&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView4&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;81dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;79dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;187dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;187dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;365dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@android:drawable/gallery_thumb&quot;</span>
            <span class="s1">tools:src</span><span class="s2">=&quot;@tools:sample/backgrounds/scenic&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView7&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;81dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;79dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;187dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;187dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;485dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@android:drawable/gallery_thumb&quot;</span>
            <span class="s1">tools:src</span><span class="s2">=&quot;@tools:sample/backgrounds/scenic&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView8&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;81dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;79dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;272dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;272dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;485dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@android:drawable/gallery_thumb&quot;</span>
            <span class="s1">tools:src</span><span class="s2">=&quot;@tools:sample/backgrounds/scenic&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/editTextTextPersonName6&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;318dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;@string/my_playlists&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#FBF8F8&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/editTextTextPersonName7&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;575dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;@string/mood_statisitcs&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#03A9F4&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/editTextTextPersonName8&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;220dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;220dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;620dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Last week:&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/editTextTextPersonName9&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;220dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;220dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;820dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Last month:&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot; </span><span class="s0">/&gt;</span>


        <span class="s0">&lt;Button</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/menu&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;46dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;5dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;5dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;25dp&quot;</span>
            <span class="s1">android:clickable</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">app:backgroundTint</span><span class="s2">=&quot;#101010&quot;</span>
            <span class="s1">app:icon</span><span class="s2">=&quot;@android:drawable/ic_menu_sort_by_size&quot; </span><span class="s0">/&gt;</span>




    <span class="s0">&lt;/RelativeLayout&gt;</span>

<span class="s0">&lt;/ScrollView&gt;</span></pre>
</body>
</html>